{% extends "Layout/Layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-xl-4 order-xl-4 center">
            <div class="card card-profile">
                <img src="{{ assets }}/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                <img src="https://www.gravatar.com/avatar/{{ pp }}?d=mp" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                        <a href="/profil" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip"
                           data-original-title="{{ lang.getTranslation(["back", "to", "list"]) }}">
                            <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                            <span class="btn-inner--text">{{ lang.getTranslation(["back", "to", "list"]) }}</span>
                        </a>
                    </div>

                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center">
                                <div>
                                    <span class="heading">{{ profil.getLevel() }}</span>
                                    <span class="description">{{ lang.getTranslation("level") }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h5 class="h3">{{ profil.getUsername() }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}