<!--
 * MIT License
 *
 * Copyright (c) 2021. Paul Tedesco
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
-->
<!DOCTYPE html>
<html>
{{ include("Layout/head.twig") }}
<body class="{{ (not sidebar) ? "g-sidenav-show g-sidenav-pinned" }}">
<!-- Sidebar -->
{% if sidebar %}
    {{ include("Layout/sidebar.twig") }}
{% endif %}
<!-- End SideBar -->
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- NavBar -->
    {% if navbar and not sidebar %}
        {{ include("Layout/navbarWithoutSidebar.twig") }}
    {% endif %}
    <!-- End Navbar -->
    {% block header %}
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-4">
                        <div class="col-lg-6 col-7">
                            <h6 class="h2 text-white d-inline-block mb-0">{{ title|capitalize }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="container-fluid mt--6">
        {% block content %}
        {% endblock %}
        <footer class="footer pt-0">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="copyright text-center  text-lg-left  text-muted">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        <a href="https://paul-tedesco.com" class="font-weight-bold ml-1"
                           target="_blank">Paul Tedesco</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{{ include("Layout/script.twig") }}
{% block script %}
{% endblock %}
<!-- End Main Content -->
</body>